* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    outline: solid 1px red;
    scroll-behavior: smooth;
}
body {
    padding: 0 1.25rem 1.25rem 1.25rem;
    background-color: black;
}
main {
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    border-bottom: #1F1F1F solid 2px;
}
header{
    margin-bottom: 2rem;
    position: sticky;
    top: 0px;
    z-index: 1;
    transition: all ease 0.3s;
}
header nav {
    margin: 0 auto;
    padding: 1rem;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 2px solid #c5f82a;
    border-radius: 2rem;
    transition: all ease 0.3s;
    opacity: 0.5;
    .logo {
        width: 50px;
        height: 50px;
        border-radius: 30px;
        cursor: pointer;
        transition: ease all 0.35s;
    }
    .logo:hover{
        transform: scale(1.1);
        box-shadow: #c5f82a 0px 0px 10px;
    }
    .nav-bar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        list-style: none;
        li {
            cursor: pointer;
            transition: ease all 0.2s;
        }
        li:hover {
            transform: scale(1.1);
        }
        a {
            text-decoration: none;
            color: #c5f82a;
        }
    }
}
header nav:hover{
    transform: scale(1.02);
    opacity: 1;
}
.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .my-photo {
        margin-top: auto;
        width: min(200px , 40vw);
        height: min(320px , 40vw);
        border-radius: 160px;
        box-shadow: 0 0 10px white;
        transition: all ease 0.3s;
        background-image: url(./images/me2.jpg);
        background-position: top;
        background-size: cover;
    }
    .my-photo:hover {
        transform: scale(1.01);
        box-shadow: 0 0 15px white;
    }
    .my-info {
        display: flex;
        flex-direction: column;
        cursor: default;
        .name {
            margin: 1rem 0 6px 0;
            color: white;
            font-size: min(4rem , 12vw);
            font-weight: 900;
        }
        .job-title {
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 600;
            color: #c5f82a;
            letter-spacing: 0.2rem;
        }
        .year-of-exp {
            margin-bottom: 4rem;
            font-size: 1.35rem;
            font-weight: 600;
            color: #c5f82a;
            letter-spacing: 0.13rem;
        }
        .available-state {
            margin-right: 1rem;
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 8px;
            background-color: #c5f82a;
            animation: pulsing 1.3s ease-in-out infinite alternate;
        }
        .available {
            margin-bottom: 1.25rem;
            font-size: 1.7rem;
            font-weight: 600;
            color: #acacac;
            text-align: center;
        }
        .hook {
            margin-bottom: 1.75rem;
            font-size: 1.4rem;
            color: #acacac;
            text-align: center;
        }
        #contact-btn {
            box-sizing: content-box;
            margin: 0 auto;
            width: 12rem;
            height: 45px;
            line-height: 45px;
            background-color: black;
            border: #c5f82a 2px groove;
            border-radius: 1rem;
            text-align: center;
            text-decoration: none;
            color: white;
            font-size: 1.25rem;
            font-weight: 600;
            transition: ease all 0.15s;
        }
        #contact-btn:hover {
            transform: scale(1.05);
            box-shadow: #c5f82a 0 0 3px;
        }
    }
}
section h2 {
    margin: 0 auto 1rem auto;
    width: 50vw;
    min-width: 260px;
    font-size: min(2.5rem , 9vw);
    text-align: center;
    color: #c5f82a;
    border-radius: 1rem;
    cursor: default;
    transition: all ease 0.3s;
}
section h2:hover {
    box-shadow: #c5f82a 0 0 5px;
}
.my-work {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    div {
        margin: 0 auto;
        padding: 2rem;
        width: max(80vw , 280px);
    }
}
.my-work .project {
    animation: appearance ease-in both;
    animation-timeline: view();
    animation-range: entry 0% entry 80%;
}
.my-work .genex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #111111;
    border-radius: 2rem;
    h3 {
        font-size: min(1.6rem , 6vw);
        color: white;
        cursor: default;
    }
    figure {
        display: flex;
        gap: 1rem;
        align-items: center;
        img {
            width: max(50% , 222px);
            border-radius: 1rem;
            cursor: pointer;
            transition: all ease 0.2s;
        }
        img:hover {
            transform: scale(0.99);
        }
        figcaption {
            color: #acacac;
            line-height: 1.5;
        }
    }
    .genex-live-demo {
        margin: auto;
        box-sizing: content-box;
        width: 175px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background-color: black;
        border: #c5f82a solid 2px;
        border-radius: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: #c5f82a;
        text-decoration: none;
        transition: all ease 0.3s;
    }
    .genex-live-demo:hover {
        transform: scale(1.05);
        box-shadow: #c5f82a 0 0 3px;
    }
}
.my-skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    div {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
    }
    div ul {
        padding: 0 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 260px;
        background-color: black;
        border: #c5f82a solid 2px;
        border-radius: 2rem;
        box-shadow: #1F1F1F 0 0 5px 5px;
        overflow: hidden;
        list-style: none;
        cursor: default;
        transition: all ease 0.3s;
        .title {
            margin: 0 auto 10px auto;
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 1.4rem;
            color: white;
            border-bottom: #c5f82a solid 2px;
            border-radius: 2rem;
        }
        li:not(.title){
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: 16px;
            box-shadow: #c5f82a 0 0 5px;
            border-radius: 1rem;
            color: #c0e040;
            transition: all ease 0.3s;
        }
        li:not(.title):hover {
            transform: scale(1.1);
        }
        li img {
            width: 35px;
            height: 35px;
            border: #c5f82a solid 2px;
            box-shadow: #c5f82a 0 0 5px;
            border-radius: 40px;
        }
    }
    div ul:hover {
        border-radius: 5rem;
        .title {
            border: #c5f82a solid 2px;
            border-top: none;
        }
    }
}
.about {
    margin: -2rem auto auto auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: min(1.2rem , 4.5vw);
    color: #acacac;
}
.about .usb {
    h3 {
        margin-bottom: 12px;
    }
    div {
        margin-bottom: 5px;
        padding-left: 2rem;
    }
}
.about p,
.about .usb * {
    transition: all ease 0.5s;
}
.about p:hover,
.about .usb *:hover {
    transform: scale(1.05);
    cursor: default;
}
section.about h2 {
    margin: 0;
    font-size: min(3rem , 11vw);
    font-weight: 600;
    text-align: start;
    color: #c5f82a;
    box-shadow: none;
    cursor: default;
}
.about .brief, .usb {
    padding-left: min(2rem , 3vw);
}
.s1 {
    margin-bottom: 5px;
    display: inline-block;
    color: #c5f82a;
}
.s3 {
    font-weight: 600;
    color: #c5f82a;
}
.s5 {
    font-weight: 900;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer-img {
    margin-top: -40px;
    width: 75px;
    border: #1F1F1F solid 4px;
    border-radius: 5rem;
    box-shadow: #c0e040 0 0 5px;
}
.contact-icons {
    margin: auto;
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.contact-icons img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: #c5f82a 2px solid;
    cursor: pointer;
    animation: pulsing 1.25s ease-in-out infinite alternate;
}
.contact-icons a {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: all ease-out 0.5s;
}
.contact-icons a:hover {
    transform: scale(1.3);
    img {
        animation-play-state: paused;
        box-shadow: #c5f82a 0 0 10px;
    }
}
.copyright {
    padding-bottom: 1rem;
    font-size: 1rem;
    color: #acacac;
}
.experience > div{
    margin: auto auto auto 30vw;
    padding: 0 1rem 0 3rem;
    display: flex;
    justify-content: center;
    gap: min(5rem , 10vw);
}
.time-line {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 5px;
    height: 750px;
    background-color: #c5f82a;
    box-shadow: #c5f82a 0 0 5px;
    animation: appearance linear both;
    animation-timeline: view();
    animation-range: entry 0% entry 50%;
}
.time-parts {
    display: flex;
    align-items: center;
    height: 250px;
}
.starting-part {
    align-items: start;
    height: 125px;
}
.in-progress-part {
    align-items: end;
    height: 125px;
}
.events {
    display: flex;
    flex-direction: column;
    height: 1000px;
}
.event-wrapper {
    display: flex;
    align-items: center;
    height: 250px;
}
.point {
    /* margin: auto 0; NOT WORKING AT NORMAL FLOW */
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 18px;
    background-color: black;
    border: #c5f82a solid 3px;
    cursor: pointer;
    transition: all ease 0.3s;
    animation: appearance ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% entry 100%;
}
.card {
    padding: 0.5rem 1rem;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
    cursor: default;
    border: #c5f82a dashed 2px;
    border-radius: 1rem;
    transition: all ease 0.3s;
    animation: appearance ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% entry 100%;
}
.card:hover {
    transform: scale(1.05);
}
.c1 {
    margin-bottom: -2rem;
}
.point:hover {
    transform: scale(1.2);
}
div.point img {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
}
div.point p {
    color: white;
    border: #c5f82a dashed 2px;
    border-radius: 1rem;
}
.starting-point {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    box-shadow: white 0 0 7px;
    animation: pulsing 1.5s ease-in-out infinite alternate, appearance ease-in-out both;
    animation-timeline: auto , view();
    animation-range: entry 0% entry 100%;
}
.react-point {
    animation: pulsing 1.5s ease-in-out infinite alternate, appearance ease-in-out both;
    animation-timeline: auto , view();
    animation-range: entry 0% entry 100%;
}
.date {
    margin: auto;
    padding: 0 1rem 5px 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    border-bottom: #c5f82a solid 3px;
    border-radius: 1rem;
}
.event {
    font-size: 1.15rem;
    font-style: italic;
    text-align: center;
    line-height: 1.4;
}
.c3 a {
    margin: 2px auto;
    padding: 0.5rem 1rem;
    background-color: black;
    border: #c5f82a solid 2px;
    border-radius: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    animation: pulsing 1s ease-in-out infinite alternate;
}
.in-progress-point {
    width: 25px;
    height: 25px;
    margin-bottom: -3px;
    background-color: #c5f82a;
    box-shadow: #c5f82a 0 0 5px;
    animation: pulsing 1.5s ease-in-out infinite alternate , appearance ease-in-out both;
    animation-timeline: auto , view();
    animation-range: entry 0% entry 100%;
}
.c2, .c4 {
    margin-left: -500px;
}
@media (max-width: 991px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .my-work .genex figure {
        flex-direction: column;
        align-items: start;
    }
    .my-skills div {
        flex-direction: column;
        align-items: center;
    }
    .experience > div {
        margin: auto;
    }
    .c2, .c4 {
        margin-left: 0;
    }
}
@media (max-width: 575px) {
    html {
        font-size: 90%;
    }
    header nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
@keyframes pulsing {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
        box-shadow: #c5f82a 0 0 10px;
    }
}
@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}