* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border-radius: 20px;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #141414;
    color: aqua;
    *:not(main , img , p , ul , li , h2 , h3 , span , address , .name , .me , .job-title , .breif , .header) {
        border-style: solid;
    }
    .header {
        text-align: center;
        background-color: #1f1f1f;
        display: flex;
        .my-photo {
            width: 25vw;
            height: 31.25vw;
            border-radius: 100vw;
            margin: 3vw;
            border-style: none;
            box-shadow: 5px 5px 15px -5px #c5f82a;
        }
        .me {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .name {
                line-height: 20vh;
                text-align: center;
                color: white;
                font-size: 4rem;
                font-weight: 900;
                letter-spacing: 0.05em;
                flex-basis: 1em;
            }
            .job-title {
                text-align: center;
                font-size: 1.7rem;
                letter-spacing: 0.17em;
                padding-right: 3.2em;
                margin-bottom: 2rem;
                flex-basis: 1em;
                font-weight: 600;
                color: #c5f82a;
                
            }
            .breif {
                flex-basis: 10em;
                margin-top: 5em;
                font-size: 1.4rem;
                color: #acacac;
                #contact-btn {
                    display: inline-block;
                    text-decoration: none;
                    color: rgb(0, 255, 200);
                    background-image: linear-gradient(to right , black , red);
                    margin-top: 3%;
                    padding: 10px;
                    box-shadow: 3px 7px 5px rgba(0, 0, 0, 0.5);
                    transition: ease 0.3s all;
                }
                #contact-btn:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-basis: 70%;
        background-color: #1f1f1f;
        .my-work {
            flex-basis: 70%;
            text-align: center;
            border-style: none;
            padding: 2%;
            h2 {
                padding-bottom: 5%;
                color: white;
                font-size: 2rem;
            }
            .student-dashboard {
                padding: 1.5%;
                text-align: start;
                border-color:#c5f82a;
                h3 {
                    padding-bottom: 3%;
                    color: #c5f82a;
                }
                .images {
                    padding-bottom: 2%;
                    border-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    justify-content: center;
                    border-radius: 100px;
                    .img1 {
                        width: 32.5vw;
                        height: 17.5vw;
                    }
                    .img2 {
                        width: 56vw;
                        height: 44vw;
                    }
                }
                .student-dashboard-description {
                    padding: 1%;
                    color: #acacac;
                }
                .student-dashboard-link {
                    padding: 1%;
                    height: 15vh;
                    line-height: 15vh;
                    color: #acacac;
                    a {
                        display: inline-block;
                        text-align: center;
                        width: 20%;
                        height: 50%;
                        border-style: solid;
                        text-decoration: none;
                        color: cyan;
                        margin-left: 30%;
                        line-height: 150%;
                        background-image: linear-gradient(to right , black , red);
                        transition: all 0.3s ease;
                    }
                    a:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
        .skills {
            flex-basis: 30vh;
            padding: 2% 2%;
            margin: 2%;
            text-align: center;
            border-color: #c5f82a;
            h2 {
                padding-bottom: 5%;
                letter-spacing: 2px;
                color: white;
            }
            ul {
                * {
                    border-style: groove;
                    border-radius: 100vw;
                    border-color: cyan;
                    background-image: linear-gradient(to right , black , red);
                    width: 8vw;
                    height: 8vw;
                    text-align: center;
                    line-height: 8vw;
                    transition: ease all 0.3s;
                }
                *:hover {
                    transform: scale(0.8);
                }
                display: flex;
                list-style: none;
                justify-content: space-evenly;
            }
        }
        .about-me {
            padding: 1%;
            margin: 2%;
            border-style: none;
            p {
                padding: 1%;
                color: #acacac;
                .headline {
                    display: block;
                    font-size: 1.3rem;
                    padding-bottom: 0.5%;
                    color: #c5f82a;
                }
            }
        }
    }
    .contact-me {
        text-align: center;
        padding: 1.3%;
        padding-bottom: 5%;
        border-style: none;
        color: white;
        a{
            display: inline-block;
            text-decoration: none;
            color: cyan;
            background-image: linear-gradient(to right , black , red);
            width: 10vw;
            height: 30px;
            line-height: 30px;
            transition: all ease 0.3s;
        }
        a:hover {
            transform: scale(0.9);
        }
        span {
            display: block;
            padding: 1.25%;
            font-size: 1.3rem;
            font-weight: 600;
        }
        address {
            display: flex;
            justify-content: space-evenly;
            .gmail {
                a{
                    width: auto; 
                    padding: 10px; 
                    text-align: center;
                    line-height: 50%;
                }
            }
        }
    }
}